@import "../../utils/colors.css";
/* body{
    background-color:green;
    background-color: #444444;

    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.containerA {
    color: azure;
  }

  .m-3{
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  p {
    text-align: center;
  }*/
/*   
  #profile {
    max-width: 250px;
    border-radius: 6px;
    margin-top: 50px;
  }  */

  .m-3{
    text-align: center;
  }
  #main-paragraph{
    padding-top: 100px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
  }
  #profile{
    width:300px;
    height:500px;
    object-fit:cover;
    border-radius:50%;
    padding-top: 50px;
  }
  .skillsContainer {
    color: var(--dark3);
    margin: 4rem;
    z-index: 1;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .icon {
    color: var(--dark3);
    font-size: 3rem;
    margin: 3rem;
  }

  @media only screen and (max-width: 600px) {
    .welcome {
      flex-direction: column;
    }
  }  