:root {
    --accent: #5b1480;
    --success: #3c6e71;
    --warning: #e14c80;
    --dark3: #212529;
    --dark2: #343a40;
    --dark1: #495057;
    --med3: #6c757d;
    --med2: #adb5bd;
    --med1: #ced4da;
    --light3: #dee2e6;
    --light2: #e9ecef;
    --light1: #f8f9fa;
  }